{% extends "blog/base/base.html" %}
  <!--/超小屏幕可见-->
{% block content %}
      <header class="news_header">
        <h2>{{ article.title }}</h2>
        <ul>
          <li>{{ article.users.username }} 发布于 {{ article.create_time }}</li>
          <li>栏目：<a href="" title="" target="_blank">{{ article.category.name }}</a></li>
          <li>来源：<a href="" title="" target="_blank">个人原创</a></li>
          <li>共 <strong>{{ article.read_num }}</strong> 人围观 </li>
        </ul>
      </header>
      <article class="news_content">
        {{ article.content | safe }}
      </article>
      <div class="reprint">转载请说明出处：<a href="" title="" target="_blank">python小屋</a> » <a href="" title="" target="_blank">欢迎来到python小屋</a></div>
      <div class="zambia">
          <a href="javascript:;" name="zambia" rel="" id="like-btn" article-id="{{ article.id }}">
              <span class="glyphicon glyphicon-thumbs-up">

              </span> 赞（{{ article.ips|length }}）
          </a>
      </div>
      <div class="tags news_tags">标签：
          {% for tag in tags %}
          <span data-toggle="tooltip" data-placement="bottom" title="查看关于 {{ tag.name }} 的文章"><a href="">{{ tag.name }}</a></span>
          {% endfor %}
      </div>
{#      <nav class="page-nav"> <span class="page-nav-prev">上一篇<br />#}
{#        <a href="" rel="prev">欢迎来到个人技术博客</a></span> <span class="page-nav-next">下一篇<br />#}
{#        <a href="" rel="next">欢迎来到个人技术博客</a></span> #}
{#      </nav>#}

    <div class="content-block comment">
        <h2 class="title"><strong>评论</strong></h2>
        {% if g.current_user %}
        <form action="/comment/" method="post" class="form-inline" id="comment-form">
        <input type="hidden" class="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
          <input type="hidden" name="article_id" class="form-control" id="" value="{{ article.id }}">
            <div class="comment-form">

            <textarea placeholder="你的评论可以一针见血" name="commentContent"></textarea>
            <div class="comment-form-footer">
                <div class="comment-form-text">
                </div>
                <div class="comment-form-btn">
                    <button type="submit" class="btn btn-default btn-comment">提交评论</button>
                </div>
            </div>
          </div>
        </form>
        {% else %}
            请先 <a href="/user/auth/login/">登录</a> 或 <a href="/user/auth/register/">注册</a>
        {% endif %}
        <div class="comment-content">
          <ul>
              {% for comment in comments %}
                <li><span class="face"><img src="{{ comment.users.gravatar(size=50) }}" alt=""></span>
                    <span class="text"><strong>{{ comment.users.username }}</strong> ({{ comment.create_time }}) 说：<br /></span>
                    {{ comment.content }}
                </li>
            {% endfor %}
          </ul>
        </div>
      </div>
  <!--/内容-->
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        $("#like-btn").click(function(){
            var article_id = $("#like-btn").attr("article-id");
            $.ajax({
                'url': '/add_like/',
                'type': 'post',
                'data': {
                    'article_id': article_id
                },
                'success': function (data) {
                    if (data["code"] == 1) {
                        swal({
                          title: "漂亮！",
                          text: "谢谢您的认可!",
                          imageUrl: "/static/blog/images/thumbs-up.jpg",
                          'showCancelButton': false,
                          'showConfirmButton': false,
                          'timer': 1500
                        },function (){
                            location.reload()
                        })
                    }else {
                        swal({
                            'title': '提示',
                            'text': data['msg'],
                            'type': 'info',
                            'showCancelButton': false,
                            'showConfirmButton': false,
                            'timer': 1500
                        })
                    }
                }
            })
        })
    });

</script>
{% endblock %}

