{% extends 'blog/base/base.html' %}
  <!--/超小屏幕可见-->
    {% block content %}
      <div class="content-block new-content">
        <h2 class="title"><strong>搜索结果</strong></h2>
        <div class="row">
          {% for article in articles %}
            <div class="news-list">
                <div class="news-img col-xs-5 col-sm-5 col-md-4"> <a target="_blank" href=""><img src="{{ article.image_path }}" alt="" style="width: 180px; height: 105px"> </a> </div>
                <div class="news-info col-xs-7 col-sm-7 col-md-8">
                  <dl>
                    <dt> <a href="/article/detail/{{ article.id }}" target="_blank" > {{ article.title }} </a> </dt>
                    <dd><span class="name"><a href="" title="由 个人技术博客 发布" rel="author">{{ article.users.username }}</a></span> <span class="identity"></span> <span class="time"> {{ article.create_time }} </span></dd>
                    <dd class="text">{{ article.describe }}</dd>
                  </dl>
                  <div class="news_bot col-sm-7 col-md-8"> <span class="tags visible-lg visible-md">
                      {% for tag in article.tags %}
                      <a href="">{{ tag.name }}</a>
                      {% endfor %}
                    </span> <span class="look"> 共 <strong>{{ article.read_num }}</strong> 人围观
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--<div class="news-more" id="pagination">
        	<a href="">查看更多</a>
        </div>-->
      </div>
    {% endblock %}
  <!--/内容-->
