{% extends 'cms/base/base.html' %}
{% block head %}
    <!-- simditor引入文件 -->
    <!-- simditor引入文件 -->
	 <link rel="stylesheet" href="{{ url_for('static',filename='common/editormd/css/editormd.css') }}"/>
    <script src="{{url_for('static', filename='common/js/jquery-1.10.2.min.js')}}"></script>
    <script src="{{ url_for('static',filename='common/editormd/editormd.min.js') }}"></script>


{% endblock %}
    {% block main %}
      <div class="row">
        <form action="/admin/add_article/" method="post" class="add-article-form" enctype="multipart/form-data">
            <input type="hidden" class="csrf_token" name="csrf_token" value="{{ csrf_token() }}">

          <input type="hidden" id="article-title" name="id"  value="{{ article.id }}">
          <div class="col-md-9">
            <h1 class="page-header">文章修改</h1>
            <div class="form-group">
              <label for="article-title" class="sr-only">标题</label>
              <input type="text" id="article-title" name="title" class="form-control" placeholder="" value="{{ article.title }}" required autofocus autocomplete="off">
            </div>
            <div id="editormd" class="form-group">
                 <textarea  name="content" placeholder="正文...">{{ article.content }}</textarea>
            </div>
             <div class="form-group">

            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>关键字</span></h2>
              <div class="add-article-box-content">
              	<input type="text" class="form-control" placeholder="请输入关键字" value="" name="keywords" autocomplete="off">
                <span class="prompt-text">多个标签请用英文逗号,隔开。</span>
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>描述</span></h2>
              <div class="add-article-box-content">
              	<textarea class="form-control" name="describe" autocomplete="off">{{ article.describe }}</textarea>
                <span class="prompt-text">描述是可选的手工创建的内容总结，并可以在网页描述中使用</span>
              </div>
            </div>
              <div class="add-article-box">
              <h2 class="add-article-box-title"><span>图片URL</span></h2>
              <div class="add-article-box-content">
                <div class='show_path' id="show_path"></div>
                <span class="prompt-text">描述是可选的手工创建的内容总结，并可以在网页描述中使用</span>
              </div>
            </div>

          </div>
          <div class="col-md-3">
            <h1 class="page-header">操作</h1>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>栏目</span></h2>
              <div class="add-article-box-content">
                <ul class="category-list">
                    {% for category in categories %}
                      <li>
                        <label>
                          <input name="category" type="radio" value="{{ category.id }}">
                         {{ category.name }} <em class="hidden-md">( 栏目ID: <span>{{ category.id }}</span> )</em></label>
                      </li>
                    {% endfor %}
                </ul>
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>标签</span></h2>
              <div class="add-article-box-content">
                <input type="text" class="form-control" placeholder="" value="{% for tag in article.tags %}{{ tag.name }};{% endfor %}" name="tags" autocomplete="off">
                <span class="prompt-text">多个标签请用英文逗号,隔开</span> </div>
            </div>
                <div class="col-sm-12">
                  <section class="panel">
                        <header class="panel-heading">
                            <input id="input_files_id"  type="file"  accept="image/gif, image/jpeg image/png" multiple="multiple"  name="myfilename"/><br>
                        </header>
                    </section>
                </div>

            <div class="add-article-box">
              <div class="add-article-box-footer">
                <button class="btn btn-primary" type="submit" name="submit">发布</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    {% endblock %}
{% block script %}
    <script type="text/javascript">
        var testEditor;

        $(function () {
            testEditor = editormd("editormd", {
                width: "100%",
                height: "1000",
                syncScrolling: "single",
                path: "{{ url_for('static',filename='common/editormd/lib/') }}"
            });
        });
    </script>

{% endblock %}